{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Nombre</th>
                    <th>Puntaje</th>
                    <th>Favorito</th>
                </tr>
            </thead>
            <tbody>
                {% for jugador in jugadores %}
                    <tr>
                        <td data-toggle="modal" data-target="#ventanaJugador" onclick="completarModalJugadores('{{ jugador.nombre }}', '{{ jugador.avatar }}', '{{ jugador.favorito }}', '{{ jugador.puntaje }}', '{{ jugador.mazo1 }}', '{{ jugador.mazo2 }}', '{{ jugador.mazo3 }}');">
                            <img src="{{ jugador.avatar }}" width="42" heigth=42" alt="AVATAR">
                        </td>
                        <td data-toggle="modal" data-target="#ventanaJugador" onclick="completarModalJugadores('{{ jugador.nombre }}', '{{ jugador.avatar }}',  '{{ jugador.favorito }}', '{{ jugador.puntaje }}', '{{ jugador.mazo1 }}', '{{ jugador.mazo2 }}', '{{ jugador.mazo3 }}');">
                            {{ jugador.nombre }}
                        </td>
                        <td data-toggle="modal" data-target="#ventanaJugador" onclick="completarModalJugadores('{{ jugador.nombre }}', '{{ jugador.avatar }}',  '{{ jugador.favorito }}', '{{ jugador.puntaje }}', '{{ jugador.mazo1 }}', '{{ jugador.mazo2 }}', '{{ jugador.mazo3 }}');">
                            {{ jugador.puntaje }}
                        </td>
                        <td onclick="setearFavorito('{{ jugador.favorito }}');">
                            {% if usuario %}
                                {% if usuario.estilo == "Naxxramas" %}
                                    {% if usuario.favoritos[jugador.favorito] == 1 %}
                                        <img name="iconoFav" id="{{ jugador.favorito }}" src="/images/icons/fav_nax.png" width="42" heigth=42" alt="FAVORITO">
                                    {% else %}
                                        <img name="iconoFav" id="{{ jugador.favorito }}" src="/images/icons/no_fav_nax.png" width="42" heigth=42" alt="FAVORITO">
                                    {% endif %}
                                {% else %}
                                    {% if usuario.favoritos[jugador.favorito] == 1 %}
                                        <img name="iconoFav" id="{{ jugador.favorito }}" src="/images/icons/fav_std.png" width="42" heigth=42" alt="FAVORITO">
                                    {% else %}
                                        <img name="iconoFav" id="{{ jugador.favorito }}" src="/images/icons/no_fav_std.png" width="42" heigth=42" alt="FAVORITO">
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <img name="iconoFav" id="{{ jugador.favorito }}" src="/images/icons/no_fav_std.png" width="42" heigth=42" alt="FAVORITO">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ventanaJugador" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" id="ventanaTitulo">
                    <h5 class="modal-title" id="tituloVentana">JUGADOR X</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ventanaCuerpo">

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <img src="" alt="AVATAR" id="avatarJugador"/>
                            </div>
                            <div class="col-sm">
                                <table class="table">
                                    <tbody >
                                        <tr>
                                            <th>Nombre:</th>
                                            <td id="nombreJugador">Jugador X</td>
                                        </tr>
                                        <tr>
                                            <th>Puntaje:</th>
                                            <td id="puntajeJugador">9999</td>
                                        </tr>
                                        <tr>
                                            <th>Favorito:</th>
                                            <td>
                                                <img src="" alt="FAVORITO" id="favoritoJugador"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>
                                        <img src="" alt="MAZO 1" id="imagenMazo1"/>
                                    </td>
                                    <td>
                                        <img src="" alt="MAZO 2"id="imagenMazo2"/>
                                    </td>
                                    <td>
                                        <img src="" alt="MAZO 3"id="imagenMazo3"/>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="IDPAG">
    </div>
{% endblock %}