{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-striped" id="TPartidos">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Jugador</th>
                    <th>Resultado</th>
                    <th>Jugador</th>
                    <th>Resultado</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                {% for partido in partidos %}
                    <tr>
                        <td>
                            {{ partido.fecha }}
                        </td>
                        <td>
                            {{ partido.hora }}
                        </td>
                        <td>
                            {{ partido.jugador1 }}
                        </td>
                        <td>
                            {{ partido.resultado1 }}
                        </td>
                        <td>
                            {{ partido.jugador2 }}
                        </td>
                        <td>
                            {{ partido.resultado2 }}
                        </td>
                        <td>
                            {{ partido.comentario }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}