{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-striped" id="TPartidos">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Resultado</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Resultado</th>
                </tr>
            </thead>
            <tbody>
                {% for partido in partidos %}
                    {% set p1 = 0 %}
                    {% set p2 = 0 %}
                    {% for g in partido.ganador %}
                        {% if g == 1 %}
                            {% set p1 = p1 + 1 %}
                        {% else %}
                            {% set p2 = p2 + 1 %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>
                            {{ partido.fecha }}
                        </td>
                        <td>
                            {{ partido.hora }}
                        </td>
                        <td>
                            {{ partido.jugador1 }}
                        </td>
                        <td>
                            {{ p1 }}
                        </td>
                        <td>
                            {{ partido.jugador2 }}
                        </td>
                        <td>
                            {{ p2 }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}