{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-striped" id="TPartidos">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Resultado</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Resultado</th>
                </tr>
            </thead>
            <tbody>
                {% for partido in partidos %}
                    <tr>
                        <td>
                            {{ partido.fecha }}
                        </td>
                        <td>
                            {{ partido.hora }}
                        </td>
                        <td>
                            {{ partido.jugador1 }}
                        </td>
                        <td>
                            {{ partido.puntajeJugador1 }}
                        </td>
                        <td>
                            {{ partido.jugador2 }}
                        </td>
                        <td>
                            {{ partido.puntajeJugador2 }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}